{
  "extends": ["airbnb-base", "prettier"],
  "rules": {
    "global-require": "off",
    "import/no-dynamic-require": "off",
    "no-nested-ternary": "off",
    "arrow-parens": "off",
    "max-len": [0],
    "object-curly-newline": "off",
    "no-underscore-dangle": "off",
    "no-multi-spaces": [
      "error",
      {
        "ignoreEOLComments": true
      }
    ]
  }
}
